<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

        <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/chat.js"></script>
        <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.js"></script>

        <!-- tippy animation css -->
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-extreme.css"/>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css"/>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/backdrop.css"/>
        <!--<script src="https://unpkg.com/@popperjs/core@2"></script>&lt;!&ndash; tippy 사용 위한 연결&ndash;&gt;
        <script src="https://unpkg.com/tippy.js@6"></script>&lt;!&ndash; tippy 사용 위한 연결&ndash;&gt;-->
        <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</head>
<body>

    <div class="container">
        <div class="chat bg-dark">
            <ul id="chat-ul">
                <li>
                    <div class="chat_div">
                        <div class="user">
                            <div class="sender left">Sender2(snder123)</div>
                            <span class="list-unstyled left">상대방 메세지</span>
                            <div class="pop_user">
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="chat_div">
                        <div class="user">
                            <div class="sender left bj">Sender(bangjang)</div>
                            <span class="list-unstyled left">방장 메세지</span>
                            <div class="pop_user">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="chat_div">
                        <div class="user">
                            <div class="messager right">Messager(Messager123)</div>
                            <span class="list-unstyled right">나의 메세지</span>
                            <div class="pop_user">
                            </div>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="chat_div">
                        <div class="user">
                            <div class="messager right">Messager(Messager123)</div>
                            <span class="list-unstyled right">나의 메세지</span>
                            <div class="pop_user">
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
        </div>
        <div class="div-input">
            <textarea placeholder="Press Enter for send message."></textarea>
        </div>
    </div>

    <div id="t-profile" style="display: none;">
        <div class="tippy-profile">
        </div>
    </div>

    <div id="messager" style="display: none;">
        <li>
            <div class="chat_div">
            </div>
        </li>
    </div>



    <script type="text/javascript">
        let value = {
            user_id: '',
            image: '',
            profile: ''
        }
        function getmessage(){
            $( document ).ready( function() {
                $('.chat ul .user .messager, .sender').click(function (e){
                    value.user_id = e.target.textContent
                    value.image = 'dde955e8-5fae-44dc-98db-79b3b14afea2-profile_image-70x70';
                    value.target = e.target
                    value.profile = `<div class="pop_title">`
                        + `<div class="pop_close" type='button' onclick='pop_closebnt(this)'>`
                        + `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">`
                        +`<path class='x_color' d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>`
                        +`</svg></div></div><div class="icon"><img class="img-round" src="../static/img/${value.image}.png"></div><a href="#"><h1>${value.user_id}</h1></a>`;
                    //console.log(e);//.target.parentElement
                    //console.log(e.currentTarget);
                    let aa = $(this).parent().children('.pop_user').html(value.profile);
                    $(this).parent().children('.pop_user').appendTo(aa);
                    $(this).parent().children('.pop_user').css({"display": "inline-block"})
                    //zindex 수정해서 제일앞에 나오게 하고
                    //div css수정해서 새로운 팝업창처럼 띄우게끔 해야함~
                });
            })
        }


        connect();
        getmessage();
        function pop_closebnt(e){
            parent = $(e).parent().parent();
            parent.html('');
            parent.css({"display": "none"})
        }
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/ /*]]>*/
            let User = [[${UserIn}]];
        $("body").delegate("textarea", "keyup",function(e){
                if(e.which == 13){
                    if(!e.shiftKey){
                        if(User.user_id != null){
                            if(e.target.value.replace(/(?:\n\r|\n|\r)/g,"") != ""){
                                wsSend(e.target.value,User);
                            }else{
                                e.target.value = "";
                                alert('아무 글자도 없이 보낼 수 없습니다.')
                            }
                        }else{
                            alert('로그인이 필요합니다.');
                        }
                    }
                }
            });
    </script>
</body>
</html>