<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.tt{
}
.img-round{
    display: flex;
}
</style>
</head>
<body>
    <article class="text-center container">
        <div class="card bg-dark text-light" style="width: 18rem;" id="card">
            <img src="../img/live_user_jingburger-440x248.jpg" class="card-img-top" alt="123123">
            <div class="img-round">
                <img src="../img/330b695d-63ec-41cb-baca-a191a7bbc441-profile_image-70x70.png" class="profile">
                <div class="tt">
                    <h5 class="">제목</h5>
                    <p class="">내용~</p>
                </div>
            </div>
            
    </article>
</div>
</body>
</html>