<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/static/css/view.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.js"></script>

  <!-- tippy animation css -->
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale-extreme.css"/>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css"/>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/backdrop.css"/>
  <!--<script src="https://unpkg.com/@popperjs/core@2"></script>&lt;!&ndash; tippy 사용 위한 연결&ndash;&gt;
  <script src="https://unpkg.com/tippy.js@6"></script>&lt;!&ndash; tippy 사용 위한 연결&ndash;&gt;-->
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</head>
<body>

</body>
</html>